.profilecard-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    justify-content: center;
}

@media screen and (max-width: 763px) {
    .profilecard-container{
        margin-left: 3rem;
        justify-content: space-between;
    }
    
}

.profilecard-container .result-details{
    width: 75%;
}

.profilecard-container img {
    align-self: center;
}

#bin{
    cursor: pointer;
}